.pane-sliders .panel {
	border: medium none ! important;
	font-family: arial;
}

.pane-sliders .panel > h3 {
	background: url("../images/header-bg.gif") repeat-x scroll 0% 0% transparent ! important;
	height: 37px;
	line-height: 37px;
	padding: 0px;
}

.pane-sliders .panel h3 span {
	text-transform: uppercase;
	color: #EE9900;
}

.pane-toggler-down {
	border-bottom: medium none ! important;
}

.pane-toggler-down span {
	background: url("../images/arrow-down.gif") no-repeat scroll 8px 50% transparent ! important;
	padding-left: 26px ! important;
}

.pane-toggler span {
	background: url("../images/arrow-up.gif") no-repeat scroll 10px 50% transparent ! important;
	padding-left: 26px ! important;
}

.pane-sliders .panel {
	border-width: 1px ! important;
	border-style: solid ! important;
	border-color: #DA710A #CACACA #CACACA ! important;
	-moz-border-top-colors: none ! important;
	-moz-border-right-colors: none ! important;
	-moz-border-bottom-colors: none ! important;
	-moz-border-left-colors: none ! important;
	border-image: none ! important;
	border-radius: 5px 5px 5px 5px;
	padding: 0px 1px;
}

fieldset.panelform {
	padding: 10px ! important;
}

fieldset.panelform li > label, fieldset.panelform div.paramrow label, fieldset.panelform span.faux-label {
	max-width: 30% ! important;
	min-width: 30% ! important;
}

fieldset.panelform .spacer h3 {
	padding-top: 5px;
	margin: 0px;
	background: none repeat scroll 0% 0% #FFFFFF ! important;
}

#jform_params_about-lbl {
	display: none;
}

.panel fieldset.panelform > ul > li > label {
	color: #505050;
	font-size: 11px;
	font-weight: bold;
	max-width: 30% ! important;
	min-width: 30% ! important;
	text-align: left;
}

.fltrt ul.adminformlist li {
	border-bottom: 1px dotted #C4C4C4;
	float: left;
	clear: both;
	display: block;
	width: 100%;
	margin-bottom: 5px;
	padding-bottom: 5px;
	min-height: 30px;
}

.chzn-container ul.chzn-results {
	min-width: 95%;
}

.fltrt ul.adminformlist li li {
	border-bottom: medium none;
	min-height: 0px;
	line-height: 80%;
	padding: 7px 7px 8px;
	margin: 0px;
	list-style: none outside none;
}

fieldset.adminform fieldset.radio, fieldset.panelform fieldset.radio, fieldset.adminform-legacy fieldset.radio {
	border: 0px none;
	float: left;
	margin: 0px 0px 5px;
	max-width: 68% ! important;
	min-width: 68% ! important;
	padding: 0px;
}

fieldset.panelform input[type="text"], fieldset.panelform textarea {
	background: -moz-linear-gradient(center bottom , white 85%, #EEEEEE 99%) repeat scroll 0px 0px transparent;
	border: 1px solid #AAAAAA;
	font-family: sans-serif;
	font-size: 11px;
	margin: 1px 0px;
	outline: 0px none;
	padding: 6px 20px 6px 5px;
	border-radius: 4px 4px 4px 4px;
}

fieldset.panelform fieldset.checkboxes {
	float: none ! important;
}

.jutitle-field {
	padding: 4px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 3px 3px 3px 3px;
	color: #333333;
	border: 1px dashed #FEC052;
	background: none repeat scroll 0% 0% #FFE8C0;
}