/**
* Base template
*
*/
html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

header {	
	width: 100%;
	float: left;
	background: rgba(255, 255, 255, 0.91);
	box-shadow: 0 3px 22px -3px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 5px;
		left: 0;
		background: @naranja;
		width: 100%;
		height: 1px;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 6px;
		left: 0;
		background: @naranja;
		width: 100%;
		height: 1px;
	}
	.content{
		width: 1000px;
		margin: 0 auto;

		.logo{
			float: left;
			html{overflow: hidden;}
		}

		nav{
			float: left;
			.moduletable_menu{
				margin-top: 27px;
				margin-left: 40px;

				.current.active{
					a{
						border-bottom: 3px solid @naranja;
					}
				}
				.item-122{
					display: none;
				}
				li{
					display: inline-block;
					width: 106px;
					position: relative;
					a{
						font-family: @courgette;
						font-size: @font20;
						color: @naranja;

						&:hover {
							opacity: 0.9;
							.transition(all 0.3s);
							color: @black;
							border-bottom: 3px solid @naranja;
						}
					}
					&:after{
						content: '';
						position: absolute;
						width: 10px;
						height: 10px;
						background-image: url(../images/page-one/romboMenu.png);
						background-repeat: no-repeat;
					}

					&:nth-child(1){
						&:after{
							right: 19px;
							top: 5px;
						}
					}

					&:nth-child(2){
						&:after{
							right: 14px;
							top: 5px;
						}
					}

					&:nth-child(3){
						&:after{
							background-image: none;
						}
					}
				}
			}
		}

		.login{
			float: right;
			.username, .password, .login-button{display: none;}

			.moduletable span.niftyquick span.registration{
				background: none;
				width: auto;
				margin: 0;
				margin-top: 26px;

				a{
					font-family: @courgette;
					font-size: @font20;
					color: @naranja;

					&:hover {
						opacity: 0.9;
						.transition(all 0.3s);
						color: @black;
						border-bottom: 3px solid @naranja;
					}
				}
			}
		}

		.carrito{
			float: right;
			margin-top: 26px;
			margin-left: 67px;
			margin-right: 26px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				background-image: url(../images/page-one/romboMenu.png);
				background-repeat: no-repeat;
				left: -37px;
				top: 5px;
			}
			&:before{
				content: '';
				position: absolute;
				width: 40px;
				height: 25px;
				background-image: url(../images/page-one/carrito.png);
				background-repeat: no-repeat;
				right: -39px;
				top: -2px;
			}
			.total_products{
				font-family: @courgette;
				font-size: @font20;
				color: @naranja;
			}
		}
	}
}

.section{
	width: 100%;
	float: left;
}

.section.page-one{
	width: 100%;
	height: 100vh;
	float: left;
}


.content{
	width: 1000px;
	margin: 0 auto;
}
main {
	float: left;
	width: 100%;
}

a{text-decoration: none;}

footer { 
	width: 100%;
	float: left;
}

.style-h3{
	font-family: @courgette;
	font-size: @font38;
	position: relative;
	color: @oscuro;
	padding: 10px 0px;
	width: 68%;
	margin: 0 auto;
	&:before{
		content: '';
		position: absolute;
		background: @oscuro;
		width: 100%;
		height: 1px;
		left: 0;
		bottom: 3px;
	}
	&:after{
		content: '';
		position: absolute;
		background: @oscuro;
		width: 89%;
		height: 1px;
		left: 18px;
		bottom: -4px;
	}

	span{
		display: inline-block;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			width: 21px;
			height: 21px;
			background-image: url(../images/page-one/romboTitulos.png);
			background-repeat: no-repeat;
			left: -37px;
			top: 10px;
		}
		&:after{
			content: '';
			position: absolute;
			width: 21px;
			height: 21px;
			background-image: url(../images/page-one/romboTitulos.png);
			background-repeat: no-repeat;
			right: -37px;
			top: 10px;
		}
	}
}

// Logeado

.greeting{
	width: 325px;
	margin: 21px 0;

	b, div{
		display: inline-block;
		float: left;
		margin: 10px 8px;
		font-size: @font14;
		font-family: @courgette;

		a{
			color: @naranja;
		}
	}

	b{
		margin-left: 0;
	}

	div{
		&:last-child{
			margin-right: 0;
		}
	}
}

.logout-button{

	input{
		float: left;
		margin: 8px 0 8px 18px;
		font-size: @font14;
		font-family: @courgette;
		color: @base !important;			
		padding: 0 10px;
		background-color: @naranja;
		width: 50;
		border: 1px solid @base;
		box-shadow: 0 0 0px 2px @naranja;
		border-radius: 3px;
		.transition(all 0.3s ease-in-out);

		&:hover{
			opacity: 0.7;
		}
	}
}



// Headings

h1,
h2,
h3 { line-height: @baseLineHeight * 2; }

h1 { font-size: @baseFontSize * 2.75; } // ~38px
h2 { font-size: @baseFontSize * 2.25; } // ~32px
h3 { font-size: @baseFontSize * 1.75; } // ~24px
h4 { font-size: @baseFontSize * 1.25; } // ~18px
h5 { font-size: @baseFontSize; }
h6 { font-size: @baseFontSize * 0.85; } // ~12px

h1 small { font-size: @baseFontSize * 1.75; } // ~24px
h2 small { font-size: @baseFontSize * 1.25; } // ~18px
h3 small { font-size: @baseFontSize; }
h4 small { font-size: @baseFontSize; }