main{
	width: 100%;
	position: relative;
	float: left;

	.wrapper-main{
		width: 960px;
		padding: 20px 0;
		margin: 0 auto;

		.item-pagecontacto{
			margin-bottom: 40px;
			position: relative;

			p{
				position: absolute;
				bottom: 0;
				z-index: -1;
				right: 0;
			}

			table{

				tr{
					text-align: center;

					td{ display: inline-block; vertical-align: middle; margin: 0 40px; }
				}

				&:nth-child(3){
					tr{
						&:first-child{
							margin-bottom: 200px;
							display: inline-block;
							td{
								width: 49%;
								margin: 0;

								p{
									position: relative;
									z-index: 1;
									top: 20px;
								}

								&:first-child{
									text-align: left;
									vertical-align: bottom;
									
									h3{
										font-family: @courgette;
										font-size: @font22;
										color: @gris;
									}
								}

								&:last-child{
									vertical-align: top;
									margin-top: 40px;
									h4{
										float: right;
										font-family: @courgette;
										font-size: @font22;
										color: #ccc;
									}
								}
							}							 
						}

						&:last-child{
							td{
								float: left;

								img{
									margin-bottom: 20px;
								}

								h3{
									font-family: @courgette;
									font-size: @font22;
									color: @gris;
									text-align: left;
								}

								h4{
									font-family: @courgette;
									font-size: @font22;
									color: #ccc;
									text-align: left;
								}
							}
						}
					}
				}
			}

			ul{
				text-align: center;
				border-bottom: 1px solid @naranja;
				li{
					display: inline-block;
					margin: 20px 20px;
					font-family: @courgette;
					color: @gris;
					font-size: @font22;
					position: relative;

					&:before{
						content: "";
						border-right: 1px solid @naranja;
						transform: rotate (25deg);
						color: @naranja;
						position: absolute;
						width: 1px;
						height: 38px;
						left: -20px;
						top: -12px;
					}

					a{
						color: @gris;
					}

					strong{
						color: @naranja;
					}

					&:first-child{
						&:before{
							display: none;
						}
					}
				}
			}
		}
	}
}

// Formulario

.rsform{
	width: 470px;

	.formRed{color: @naranja;
		font-family: @courgette;
		font-size: @font16;
		margin: 10px 0;
		text-align: center;}
	
	form{
		.formHorizontal{

			.formControls{margin-left: 0 !important;}

			.formControlLabel, .formDescription{display: none;}

			.formValidation{display: block; font-family: @content;}

			.formError{color: @gris !important;}

			.rsform-error{border: 1px solid @naranja; !important}

			.rsform-block{
				text-align: center;
				float: left;
				width: 100%;

				input[type="text"]{
					width: 98%;
					margin: 0;
					.placeholder(@naranja);
					font-family: @courgette;
					font-size: @font16;
					border: 0;
					padding: 10px 15px;
					.box-shadow(0px 0px 13px 0px #ccc;)
				}

				input[type="submit"]{
					background-image: none;
					background-color: @naranja;
					margin: 0;
					border: 1px solid @base;
					box-shadow: 0 0px 0px 4px @naranja;
					padding: 4px 50px;
					font-family: @courgette;
					color: @base;
					font-size: @font16;
					border-radius: 3px;
					margin-right: 5px;
				}

				input[type="reset"]{
					background-image: none;
					background-color: @naranja;
					margin: 0;
					border: 1px solid @base;
					box-shadow: 0 0px 0px 4px @naranja;
					padding: 4px 50px;
					font-family: @courgette;
					color: @base;
					font-size: @font16;
					border-radius: 3px;
					margin-left: 5px;
				}
			}
			
			.rsform-block-telefono{
				width: 44%;
				float: left;

				input[type="text"]{
					width: 96%;
				}
			}

			.rsform-block-ciudad{
				width: 44%;
				float: right;

				input[type="text"]{
					width: 96%;
				}
			}

			.rsform-block-mensaje{
				width: 100%;

				textarea{
					width: 98%;
					.placeholder(@naranja);
					font-family: @courgette;
					font-size: @font16;
					border: 0;	
					padding: 10px 15px;
					.box-shadow(0px 0px 13px 0px #ccc;)
				}
			}
		}
	}
}

// Footer

.section.page-seven{
	background-image: url(../images/page-one/mapa.jpg);
	background-position: center top;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		background-color: rgba(255, 102, 0, 0.83);
		width: 100%;
		height: 100%;
	}
	.content{
		position: relative;
		.moduletable.pie{
			table{
				margin: 0 auto;
				margin-top: 30px;
				td{
					width: 30%;
					text-align: center;
					vertical-align: top;
					h2{
						font-family: @courgette;
						font-size: @font28;
						color: @base;
						float: left;
						margin-bottom: 10px;
						width: 100%;

						a{color: @base;}
					}

					ul li{
						display: inline-block;
					}
				}
			}
		}
		.down{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;

			a{
				display: inline-block;
				float: right;

				img{float: right;}
			}
		}

		.copy{
			position: absolute;
			bottom: 0;
			font-family: @content;
			font-size: @font15;
			color: @base;
			a{color: @base;}
			img{float: right;margin-left: 9px;}
		}
	}
}