.section.page-one {
	.down{
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		text-align: center;

		a{
			display: inline-block;
		}
	}
	.moduletable.texto-banner{
		height: 100%;

		.custom{
			height: 100%;
			width: 1000px;
			margin: 0 auto;
			table td{
				vertical-align: middle;
				text-align: center;

				li{
					display: inline-block;
				}

				h1{
					font-family: @courgette;
					font-size: 90px;
					color: @base;
					text-shadow: 3px 4px 29px #000;
				}

				img{margin-right: 25px;}

				h4{
					font-family: @courgette;
					font-size: 56px;
					text-shadow: 3px 4px 29px #000;
					color: @base;
				}
			}
		}
	}
}

.section.page-two{
	background: @base;
	height: 627px;
	.content{
		.moduletable.descubrenos{
			table{margin-top: 136px;}
			table td{
				vertical-align: middle;
				text-align: center;

				iframe{border: 16px solid #FFF; box-shadow: 0px 0px 21px -8px;}

				img{border: 11px solid #FFF; box-shadow: 0px 0px 21px -8px;}

				h3{
					.style-h3;
					margin-bottom: 21px;
				}

				p{
					font-family: @content;
					font-size: @font17;
					width: 68%;
					margin: 0 auto;
					line-height: 26px;
					color: @gris;
					margin-bottom: 30px;

					strong{font-weight: bold;font-size: @font19;}
				}
			}
		}
	}
}

.section.page-three{
	background-color: @base;
	background-image: url(../images/page-one/Bloque3_OnePage_1.jpg);
	position: relative;
	height: 800px;

	.moduletable{
		height: 100%;

		.custom{
			height: 100%;
			width: 1000px;
			margin: 0 auto;
			table td{
				vertical-align: middle;
				text-align: left;

				h1{
					font-family: @courgette;
					font-size: 70px;
					color: @base;
					text-shadow: 3px 4px 29px #000;
				}

				h4{
					font-family: @courgette;
					font-size: 46px;
					text-shadow: 3px 4px 29px #000;
					color: @base;
				}
			}
		}
	}
}

.section.page-four{
	background: @base;
	height: 627px;
	.content{
		.moduletable.resetas{
			table{margin-top: 97px;}
			table td{
				vertical-align: middle;
				text-align: center;
				width: 50%;
				padding-bottom: 30px;

				h5{
					overflow: hidden;
					border: 6px solid #FFF; 
					box-shadow: 0px 0px 21px -8px;
					display: inline-block;
				}

				img{

					// &:hover{
					// 	.transition( all 0.3s );
					// 	.scale(1.3);
					// }
				}

				h3{
					.style-h3;
					margin-bottom: 21px;
				}

				p{
					font-family: @content;
					font-size: @font17;
					width: 68%;
					margin: 0 auto;
					line-height: 26px;
					color: @gris;
					margin-bottom: 30px;

					strong{font-weight: bold;font-size: @font19;}
				}
			}
		}
	}
}

.section.page-five{
	background-color: @base;
	background-image: url(../images/page-one/Bloque5_OnePage_2.jpg);
	position: relative;
	height: 800px;

	.moduletable{
		height: 100%;

		.custom{
			height: 100%;
			width: 1000px;
			margin: 0 auto;
			table td{
				vertical-align: middle;
				text-align: left;

				h1{
					font-family: @courgette;
					font-size: 70px;
					color: @base;
					text-shadow: 3px 4px 29px #000;
				}

				h4{
					font-family: @courgette;
					font-size: 46px;
					text-shadow: 3px 4px 29px #000;
					color: @base;
				}
			}
		}
	}
}

.section.page-six{
	background: @base;
	height: 627px;
	.content{
		.moduletable.ingredientes{
			table{margin-top: 97px;}
			table td{
				vertical-align: middle;
				text-align: center;
				width: 50%;
				padding-bottom: 30px;

				ul li{display: inline-block;margin: 6px;}

				h5{
					overflow: hidden;
					border: 6px solid #FFF; 
					box-shadow: 0px 0px 21px -8px;
					display: inline-block;
				}

				img{

					// &:hover{
					// 	.transition( all 0.3s );
					// 	.scale(1.3);
					// }
				}

				h3{
					.style-h3;
					margin-bottom: 21px;
				}

				p{
					font-family: @content;
					font-size: @font17;
					width: 68%;
					color: @gris;
					margin: 0 auto;
					line-height: 26px;
					margin-bottom: 30px;

					strong{font-weight: bold;font-size: @font19;}
				}
			}
		}
	}
}
.section.page-seven{
	background-image: url(../images/page-one/mapa.jpg);
	background-position: center top;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		background-color: rgba(255, 102, 0, 0.83);
		width: 100%;
		height: 100%;
	}
	.content{
		position: relative;
		.moduletable.pie{
			table{
				margin: 0 auto;
				margin-top: 30px;
				td{
					width: 30%;
					text-align: center;
					vertical-align: top;
					h2{
						font-family: @courgette;
						font-size: @font28;
						color: @base;
						float: left;
						margin-bottom: 10px;
						width: 100%;

						a{color: @base;}
					}

					ul li{
						display: inline-block;
					}
				}
			}
		}
		.down{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;

			a{
				display: inline-block;
				float: right;

				img{float: right;}
			}
		}

		.copy{
			position: absolute;
			bottom: 0;
			font-family: @content;
			font-size: @font15;
			color: @base;
			a{color: @base;}
			img{float: right;margin-left: 9px;}
		}
	}
}

.bgresize { background-position-x: center !important; background-repeat: no-repeat !important; }