/**
* Estilos paara dispositivos móviles
*
*/

// Laptops
@media only screen and (max-width: 1023px) and ( min-width:961px ) {
	
	.section.page-one{

		header{

			.search{
				#mod-search-searchword{
					width: 76%;
				}
			}

			#trigger{
				display: block;
			}

			.menu-up{
				display: none;

				ul.menu{
					width: 100%;
					background: @azulBuscar;
					border-radius: 0px 0px 9px 9px;
					margin-bottom: 6px;

					li{
						margin-left: 0 !important;
						display: block;
						width: 100%;
						position: inherit;
						text-align: center;
						padding: 4px 0;

						a{
							font-size: @font18;
						}
					}
				}
			}

			.moduletablechat{

				li{
					width: 49%;

					&:last-child{ margin-left: 0;}
				}
			}

			.moduletable.redes-up{
				margin: 20px 0;

				ul{
					text-align: center;
				}

				li{

					img{ margin-right: 0;}
				}
			}
		}

		nav{

			#trigger-2{
				display: block;
			}

			.menu-inicio #flyout_menu_92{ display: none;}
		}

		main{

			.slider-home{ 
				width: 70%;
			}
		}
	}

	.section.page-three{

		.moduletable.noticias, .investigacion{

			.nspMain{

				.nspArt{

					h4{
						margin-left: 2px;
						margin-top: 6px;
					}

					a{
						img{
							width: 193px !important;
							height: 183px !important;
						}
					}

					p.nspText{
						margin-left: 2px;
					}

					a.readon{
						margin-top: 12px;
					}
				}
			}
		}
	}

	.section.page-four{

		.moduletable.eventos h5{width: 70%;}

		.moduletable.eventos p{width: 70%;}
	}

	.section.page-eight{

		.moduletable.redes-down{
			text-align: center;
			margin: 15px 0;

			h3{
				float: none;
				margin: 0;
				margin-bottom: 10px;
			}
		}
	}
}




