// Menu

.moduletablemenu-lateral{
	width: 21%;
	float: left;

	ul{
		width: 100%;
		float: left;

		&:first-child{
			a{
				border-bottom-left-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}

		&:last-child{
			a{
				border-top-left-radius: 0 !important;
				border-top-right-radius: 0 !important;
			}
		}

		li{
			text-align: left;
			float: left;
			width: 100%;
			margin-bottom: 4px;

			a{
				font-family: @courgette;
				color: @base;
				font-size: @font22;
				background-color: @naranja;
				text-align: left;
				position: relative;
				display: inline-block;
				float: left;
				width: 100%;
				text-decoration: none;
				border: 1px solid @base;
				box-shadow: 0 0 0px 4px #FF6600;
				padding: 10px 0px 10px 50px;
				border-radius: 5px;
				margin-left: 3px;
				.transition(all 0.2s ease-in-out);

				&:hover{
					opacity: 0.7;
				}

				&:before{
					position: absolute;
					content: ">";
					left:18px;
					top: 6px;
					font-size: 28px;
				}
			}

			ul{
				margin-top: 4px;
				max-height: 0;
				width: 260px;
				overflow: hidden;

				li{
					margin-bottom: 0;

					a{
						color: @black;
						font-family: @courgette;
						font-size: 15px;
						text-align: left;
						text-decoration: none;
						background-color: transparent;
						width: 100%;
						display: inline-block;
						padding: 0 0 2px 0;
						margin-left: 0;
						box-shadow: none;

						&:before{
							display: none;
						}
					}
				}
			}

			&:hover{
				ul{max-height: 600px; .transition(all 0.6s ease-in-out);}
			}
		}
	}
}

// Contenido

main {
	float: left;
	width: 100%;
	margin-top: 20px;

	.wrapper-main{
		width: 960px;
		padding: 0 20px;
		margin: 0 auto;

		.browse-view{
			width: 70%;
			float: right;
		}
	}

	.item-pagemenu{
		width: 70%;
		float: right;

		table{
			tr{
				td{
					vertical-align: middle;
				}
			}
		}

		h1{
			display: none;
		}

		strong{
			font-family: @courgette;
			font-size: 42px;
			color: @black;
			margin-bottom: 20px;
			display: inline-block;
			float: left;
		}

		p{
			font-family: @courgette;
			font-size: 24px;
			color: @black;
			float: left;
		}
	}
}

.moduletablevinos{
	width: 70%;
	float: right;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: 0 0 5px 2px #ccc;

	table{
		padding-left: 20px;
		display: inline-block;
		width: 97% !important;
		height: 208px;
		tr{

			td{
				vertical-align: middle;
			}
		}
	}

	h3{
		font-family: @courgette;
		color: @black;
		font-size: @font20;
	}

	h4{
		font-family: @courgette;
		color: @colorContent;
		font-size: @font20;		
	}

	a{
		font-family: @courgette;
		color: @naranja;
		font-size: @font20;
		text-decoration: underline;	
	}
}



// Carrito

.productdetails-view{
	width: 70%;
	float: right;

	.product-fields{
		margin: 20px 0 10px 0;
		display: inline-block;
		table{
			width: 100% !important;
			tr{
				td{
					display: inline-block;
					padding: 0 10px;				

					img{
						box-shadow: 0px 0px 6px 2px #ccc;;
						border-radius: 100%;
					}
				}
			}
		}
	}

	h1{
		padding: 0 0 0 30px;
		margin: 0;
		width: 96%;
		font-family: @courgette;
		font-size: @font34;
		color: @oscuro;
		text-align: justify;
		position: relative;
		margin-bottom: 20px;


		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 10px;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			background-color: @naranja;
		}
	}

	.product-description{
		.title{
			display: none;
		}

		table{
			border-top: 1px solid @naranja;
			border-bottom: 1px solid @naranja;
			margin-top: 40px;
			margin-bottom: 40px;
			tr{
				text-align: center;
				td{
					padding: 20px 40px;
					display: inline-block;
					vertical-align: top;
					text-align: left;

					h4{
						margin-bottom: 10px;
						margin-top: 0;
					}

					p{
						font-family: @content;
						font-size: @font16;
						color: @colorContent;
						font-weight: lighter;
						line-height: 20px;						
					}
				}
			}
		}

		h4{
			font-family: @courgette;
			font-size: @font22;
			color: @naranja;
			margin-bottom: 10px;
			margin-top: 20px;
		}

		p{
			font-family: @content;
			font-size: @font16;
			color: @colorContent;
			font-weight: lighter;
			line-height: 20px;
		}

		li{
			font-family: @content;
			font-size: @font16;
			color: @colorContent;
			font-weight: lighter;
			line-height: 20px;
			position: relative;
			padding-left: 10px;

			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 7px;
				width: 4px;
				height: 4px;
				transform: rotate(45deg);
				background-color: @naranja;				
			}			
		}
	}
	.width40{
		margin:20px 0 0 0;
		display: inline-block;
		float: left;
		width: 100%;
		position: relative;

		.back-to-category{
			position: absolute;
			top: 43px;
			right: 0;
			margin: 0;
			padding: 0;
			height: auto;
			width: auto;
			background-image: none !important;
			background-color: transparent;
			margin: 15px 0;

			a{
				font-size: @font22 !important;
				font-family: @courgette !important;
				color: @base !important;			
				padding: 5px 20px;
				background-color: @naranja;
				padding-left: 40px;
				width: 75px;
				border: 1px solid @base;
				box-shadow: 0 0 0px 5px @naranja;
				border-radius: 3px;
				text-align: right;
				text-decoration: none;
				background-image: url(../images/imagen-menu/flecha.png);
				background-repeat: no-repeat;
				background-position: 10px center;
				.transition(all 0.3s ease-in-out);

				&:hover{
					opacity: 0.6;
				}
			}
		}

		.addtocart-button{
			input{
				font-size: @font22;
				font-family: @courgette;
				color: @base !important;			
				padding: 5px 0;
				background-color: @naranja;
				padding-left: 40px;
				width: 245px;
				border: 1px solid @base;
				box-shadow: 0 0 0px 5px @naranja;
				border-radius: 3px;
				margin-top: -50px;
				background-image: url(../images/imagen-menu/carrito.png);
				background-repeat: no-repeat;
				background-position: 10px center;
				.transition(all 0.3s ease-in-out);

				&:hover{
					opacity: 0.7;
				}
			}
		}

		.product-price{
			strong{display: none;}
		}

		div.PricesalesPrice{
			font-family: @courgette;
			font-size: @font30;
			color: @naranja;

			span{
				color: @black;
				font-size: @font30;
			}
		}

		.PricepriceWithoutTax{display: none !important;}

		input.quantity-input{
			width: 40px;
			height: 30px;
			font-family: @courgette !important;
			color: @black !important;
			font-size: @font30 !important;
			padding: 3px;
			margin-top: 16px
		}

		.quantity-controls{
			width: 20px;
			margin: 10px 0 0 12px;
			.quantity-plus{
				background-position: center;
				background-image: url(../images/mas.png);
				width: 20px;
				height: 20px;
				background-size: cover;
				padding: 0;
				margin-top:0;
				.transition(all 0.3s ease-in-out);

				&:hover{
					opacity: 0.6;
				}
			}
			.quantity-minus{
				background-position: center;
				background-image: url(../images/menos.png);
				width: 20px;
				height: 20px;
				background-size: cover;
				padding: 0;
				margin-top: 0;
				.transition(all 0.3s ease-in-out);

				&:hover{
					opacity: 0.6;
				}
			}
		} 
	}

	.width60{
		width: 98%;
		border: 8px solid @base;
		box-shadow: 0 0 4px 0 #ccc;
	}
}

// Footer

.section.page-seven{
	background-image: url(../images/page-one/mapa.jpg);
	background-position: center top;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		background-color: rgba(255, 102, 0, 0.83);
		width: 100%;
		height: 100%;
	}
	.content{
		position: relative;
		.moduletable.pie{
			table{
				margin: 0 auto;
				margin-top: 30px;
				td{
					width: 30%;
					text-align: center;
					vertical-align: top;
					h2{
						font-family: @courgette;
						font-size: @font28;
						color: @base;
						float: left;
						margin-bottom: 10px;
						width: 100%;

						a{color: @base;}
					}

					ul li{
						display: inline-block;
					}
				}
			}
		}
		.down{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;

			a{
				display: inline-block;
				float: right;

				img{float: right;}
			}
		}

		.copy{
			position: absolute;
			bottom: 0;
			font-family: @content;
			font-size: @font15;
			color: @base;
			a{color: @base;}
			img{float: right;margin-left: 9px;}
		}
	}
}

// Fancybox

#fancybox-wrap{
	width: 420px !important;

	#fancybox-content{
		width: 400px !important;
		background-color: #F4F4F4;

		a{
			text-decoration: none;
			color: @naranja;
			font-family: @courgette;
			font-size: @font16 !important;
			padding: 10px 20px;
			display: inline-block;
		}

		h4{
			text-align: center;
			color: @oscuro;
			font-family: @content;
		}
		div{
			text-align: center;
			color: @oscuro;
			font-family: @content;
		}
	}
}