/**
* Estilos paara dispositivos móviles
*
*/

// Mini Tablets
@media only screen and (max-width: 768px) and ( min-width:481px ) {

	.section.page-one{

		header{

			.search{
				#mod-search-searchword{
					width: 88%;
				}
			}

			#trigger{
				display: block;
			}

			.menu-up{
				display: none;

				ul.menu{
					width: 100%;
					background: @azulBuscar;
					border-radius: 0px 0px 9px 9px;
					margin-bottom: 6px;

					li{
						margin-left: 0 !important;
						display: block;
						width: 100%;
						position: inherit;
						text-align: center;
						padding: 4px 0;

						a{
							font-size: @font18;
						}
					}
				}
			}

			.moduletablelogo{ 
				float: none; 
				margin: 12px 0;
				text-align: center;

				img{ width: auto; float: none !important; display: inline-block;}
			}

			.moduletablechat{
				text-align: center;
				margin: 13px 0;
				width: 100%;

				li{

					&:last-child{ margin-left: 0;}
				}
			}

			.moduletable.redes-up{
				margin: 3px 0;
				text-align: center;
				width: 100%;

				ul{
					text-align: center;
				}

				li{

					img{ margin-right: 0;}
				}
			}
		}

		nav{

			#trigger-2{
				display: block;
			}

			.menu-inicio #flyout_menu_92{ display: none;}
		}

		main{

			.slider-home{ 
				width: 100%;

				.nspArt{

					h4{
						font-size: @font30;
					}
				}
			}
		}
	}

	.section.page-two{

		.moduletable.programas{

			ul {
				margin-bottom: 17px;
			}
		}

		.moduletable.item-menus{

			ul{
				width: 90%;
			}
		}
	}

	.section.page-three{

		.moduletable.noticias, .investigacion{

			h3{
				width: 100%;
				padding: 2% 0 2%;

				&:before{display: none;}
			}

			.nspMain{
				width: 100% !important;

				.nspArt{
					width: 100% !important;
					margin-bottom: 10px;

					h4{
						width: 45%;
					}

					p{
						width: 50%;
					}
				}
			}
		}
	}

	.section.page-four{

		.moduletable.eventos{

			table td{
				display: inline-block;
				margin-bottom: 15px;

				h5{
					float: left;
					margin-left: 11px;
				}

				p{
					float: left;
					margin-left: 11px;
				}
			}
		}

		.moduletable.eventos a{
			margin-top: 18px;
		}
	}

	.section.page-five{

		.col6 .moduletable{
			margin-bottom: 10px;

			iframe{width: 100% !important;}

			h3{width: 94% !important;}
		}

		.col6 .moduletable.red{

		}
	}

	.section.page-seven{

		.col3{
			width:46% !important;
			float: left !important;
			margin-bottom: 15px;
		}
	}

	.section.page-eight{

		&:before{display: none;}

		.moduletable.redes-down{
			text-align: center;
			margin: 15px 0;

			h3{
				float: none;
				margin: 0;
				margin-bottom: 10px;
			}
		}

		.me-gusta{

			iframe{
				margin: 12px 0;
			}
		}
	}
}
