// Menu

.moduletablemenu-lateral{
	width: 21%;
	float: left;

	ul{
		width: 100%;
		float: left;

		&:first-child{
			a{
				border-bottom-left-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}

		&:last-child{
			a{
				border-top-left-radius: 0 !important;
				border-top-right-radius: 0 !important;
			}
		}

		li{
			text-align: left;
			float: left;
			width: 100%;
			margin-bottom: 4px;

			a{
				font-family: @courgette;
				color: @base;
				font-size: @font22;
				background-color: @naranja;
				text-align: left;
				position: relative;
				display: inline-block;
				float: left;
				width: 100%;
				text-decoration: none;
				border: 1px solid @base;
				box-shadow: 0 0 0px 4px #FF6600;
				padding: 10px 0px 10px 50px;
				border-radius: 5px;
				margin-left: 3px;
				.transition(all 0.2s ease-in-out);

				&:hover{
					opacity: 0.7;
				}

				&:before{
					position: absolute;
					content: ">";
					left:18px;
					top: 6px;
					font-size: 28px;
				}
			}

			ul{
				margin-top: 4px;
				max-height: 0;
				width: 260px;
				overflow: hidden;

				li{
					margin-bottom: 0;
					
					a{
						color: @black;
						font-family: @courgette;
						font-size: 15px;
						text-align: left;
						text-decoration: none;
						background-color: transparent;
						width: 100%;
						display: inline-block;
						padding: 0 0 2px 0;
						margin-left: 0;
						box-shadow: none;

						&:before{
							display: none;
						}
					}
				}
			}

			&:hover{
				ul{max-height: 600px; .transition(all 0.6s ease-in-out);}
			}
		}
	}
}

// Contenido

main {
	float: left;
	width: 100%;

	.wrapper-main-regalos{
		width: 960px;
		padding: 0 20px;
		margin: 0 auto;

	h3.verificar-cuenta{
		margin: 0 auto;
		font-family: @courgette;
		font-size: @font28;
		color: @oscuro;
		padding: 10px 0;
		width: 75.5%;
		margin-top: 20px;
		margin-left: 20px;
		position: relative;
		text-transform: uppercase;
		display: inline-block;
		position: relative;

		&:before{
			position: absolute;
			content: "";
			background-color: @naranja;
			width: 10px;
			height: 10px;
			transform: rotate (45deg);
			top: 15px;
			left: -15px;
		}
	}		
		.browse-view{
			width: 100% !important;
			float: right;
		}
	}

	.item-pagemenu{
		width: 70%;
		float: right;

		table{
			tr{
				td{
					vertical-align: middle;
				}
			}
		}

		h1{
			display: none;
		}

		strong{
			font-family: @courgette;
			font-size: 42px;
			color: @black;
			margin-bottom: 20px;
			display: inline-block;
			float: left;
		}

		p{
			font-family: @courgette;
			font-size: 24px;
			color: @black;
			float: left;
		}
	}
}

.moduletablevinos{
	width: 98% !important;
	float: right;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: 0 0 5px 2px #ccc;
	padding: 0 0 0 20px;

	table{
		tr{

			td{
				vertical-align: middle;
			}
		}
	}

	h3{
		font-family: @courgette;
		color: @black;
		font-size: @font20;
	}

	h4{
		font-family: @courgette;
		color: @colorContent;
		font-size: @font20;		
	}

	a{
		font-family: @courgette;
		color: @naranja;
		font-size: @font20;
		text-decoration: underline;	
	}
}



// Carrito
.category_description{
	
	p{

		&:nth-child(2){
			font-family: @courgette;
			color: @black;
			font-size: @font28;
			margin: 30px 0;			
		}

		&:last-child{
			font-family: @content;
			color: @colorContent;
			font-size: @font16;
			margin: 30px 0;
			line-height: 22px;
		}
	}

	h5.regalos{
		font-family: @courgette;
		font-size: 60px;
		color: @base;
		padding: 78px 0 78px 504px;
		background-image: url(../images/regalos/BannerSuperior.jpg);
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		width: 1424px;
		left: -488px;
	}

	h5.vinos{
		font-family: @courgette;
		font-size: 60px;
		color: @base;
		padding: 78px 0 78px 504px;
		background-image: url(../images/regalos/BannerSuperior.jpg);
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		width: 1424px;
		left: -488px;
	}
}

.browse-view{
	.width30{
		width: 100%;
	}

	.width70{
		width: 93%;
		margin-left: 12px;

		h2{
			display: none;
			a{
				font-family: @courgette !important;
				color: @black !important;
				font-size: @font20;
			}
		}

		.product-details{
			background-color: @naranja !important;
			border: 1px solid @base !important;
			box-shadow: 0 0 0 4px @naranja;
			font-size: @font14 !important;
			text-decoration: none;
			font-family: @courgette !important;
			color: @base !important;
			background-image: none !important;
			padding: 2px 8px !important;
			border-radius: 3px;
			.transition(all 0.3s ease-in-out)!important;
			float: right;
			margin-right: 20px !important;

			&:hover{
				opacity: 0.6;
			}
		}

		.product-price{
			margin: 0;
			text-align: left;
		}

		.PricepriceWithoutTax{
			display: none;
			font-size: 0;
		}

		div.PricesalesPrice{
			font-size: 0;
			margin: 0;
			text-align: left;
			float: left;
			margin: 2px 30px 0 18px;
			position: relative;

			&:before{
				content: "";
				position: absolute;
				left: -15px;
				top: 5px;
				background-color: @naranja;
				width: 6px;
				height: 6px;
				transform: rotate(45deg);
			}

			&:after{
				content: "";
				position: absolute;
				right: -15px;
				top: 5px;
				background-color: @naranja;
				width: 6px;
				height: 6px;
				transform: rotate(45deg);				
			}

			span{
				font-family: @courgette !important;
				color: @black !important;
				font-size: @font18 !important;
				margin: 0;			
			}
		}
	}
}

.productdetails-view{
	width: 100%;
	float: right;
	margin-bottom: 50px;

	p{
		display: none;
	}

	h5.regalos{
		font-family: @courgette;
		font-size: 60px;
		color: @base;
		padding: 78px 0 78px 504px;
		background-image: url(../images/regalos/BannerSuperior.jpg);
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		width: 1424px;
		left: -488px;
		margin-bottom: 20px;
	}

	h5.vinos{
		font-family: @courgette;
		font-size: 60px;
		color: @base;
		padding: 78px 0 78px 504px;
		background-image: url(../images/regalos/BannerSuperior.jpg);
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		width: 1424px;
		left: -488px;
		margin-bottom: 20px;
	}

	.product-fields{
		margin: 20px 0 10px 0;
		display: inline-block;
		table{
			width: 100% !important;
			tr{
				td{
					display: inline-block;
					padding: 0 10px;				

					img{
						box-shadow: 0px 0px 6px 2px #ccc;;
						border-radius: 100%;
					}
				}
			}
		}
	}

	h1{
		padding: 0;
		margin: 0;
		float: left;
		font-family: @courgette;
		font-size: @font34;
		color: @oscuro;
		text-align: justify;
		position: relative;
		margin-bottom: 20px;
	}

	.product-description{
		float: left;
		width: 70%;
		margin: 0;
		.title{
			display: none;
		}
		span{
			float: right;
			line-height: 20px !important;
		}

		h4{
			font-family: @courgette;
			font-size: @font22;
			color: @naranja;
			margin-bottom: 10px;
			margin-top: 20px;
		}

		p{
			font-family: @content;
			font-size: @font16;
			color: @colorContent;
			font-weight: lighter;
			line-height: 20px;
			display: block;
		}

		li{
			font-family: @content;
			font-size: @font16;
			color: @colorContent;
			font-weight: lighter;
			line-height: 20px;
			position: relative;
			padding-left: 10px;

			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 7px;
				width: 4px;
				height: 4px;
				transform: rotate(45deg);
				background-color: @naranja;				
			}			
		}
	}
	.width60{
		width: 100%;

		.main-image{
			text-align: left;
			width: 30%;
			float: left;
		}

		p{
			display: inline-block;
		}
	}

	.width40{
		margin: 20px 0 0 0;
		display: inline-block;
		float: right;
		width: 74%;
		position: relative;

		.back-to-category{
			position: absolute;
			top: 43px;
			right: 0;
			margin: 0;
			padding: 0;
			height: auto;
			width: auto;
			background-image: none !important;
			background-color: transparent;
			margin: 15px 0;

			a{
				font-size: @font22 !important;
				font-family: @courgette !important;
				color: @base !important;			
				padding: 5px 20px;
				background-color: @naranja;
				padding-left: 40px;
				width: 75px;
				border: 1px solid @base;
				box-shadow: 0 0 0px 5px @naranja;
				border-radius: 3px;
				text-align: right;
				text-decoration: none;
				background-image: url(../images/imagen-menu/flecha.png);
				background-repeat: no-repeat;
				background-position: 10px center;
				.transition(all 0.3s ease-in-out);

				&:hover{
					opacity: 0.6;
				}
			}
		}

		.addtocart-button{
			input{
				font-size: @font22;
				font-family: @courgette;
				color: @base !important;			
				padding: 5px 0;
				background-color: @naranja;
				padding-left: 40px;
				width: 245px;
				border: 1px solid @base;
				box-shadow: 0 0 0px 5px @naranja;
				border-radius: 3px;
				margin-top: -50px;
				background-image: url(../images/imagen-menu/carrito.png);
				background-repeat: no-repeat;
				background-position: 10px center;
				.transition (all 0.3s ease-in-out);

				&:hover{
					opacity: 0.6;
				}
			}
		}

		.product-price{
			strong{display: none;}
		}

		div.PricesalesPrice{
			font-family: @courgette;
			font-size: @font30;
			color: @naranja;

			span{
				color: @black;
				font-size: @font30;
			}
		}

		.PricepriceWithoutTax{display: none !important;}

		input.quantity-input{
			width: 40px;
			height: 30px;
			font-family: @courgette !important;
			color: @black !important;
			font-size: @font30 !important;
			padding: 3px;
			margin-top: 16px
		}

		.quantity-controls{
			width: 20px;
			margin: 10px 0 0 12px;
			.quantity-plus{
				background-position: center;
				background-image: url(../images/mas.png);
				width: 20px;
				height: 20px;
				background-size: cover;
				padding: 0;
				margin-top:0;
				.transition(all 0.3s ease-in-out);

				&:hover{
					opacity: 0.6;
				}
			}
			.quantity-minus{
				background-position: center;
				background-image: url(../images/menos.png);
				width: 20px;
				height: 20px;
				background-size: cover;
				padding: 0;
				margin-top: 0;
				.transition(all 0.3s ease-in-out);

				&:hover{
					opacity: 0.6;
				}
			}
		} 
	}
}

.category-title{
	font-family: @courgette;
	font-size: 50px;
	color: @black;
	display: none;
}

// Footer

.section.page-seven{
	background-image: url(../images/page-one/mapa.jpg);
	background-position: center top;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		background-color: rgba(255, 102, 0, 0.83);
		width: 100%;
		height: 100%;
	}
	.content{
		position: relative;
		.moduletable.pie{
			table{
				margin: 0 auto;
				margin-top: 30px;
				td{
					width: 30%;
					text-align: center;
					vertical-align: top;
					h2{
						font-family: @courgette;
						font-size: @font28;
						color: @base;
						float: left;
						margin-bottom: 10px;
						width: 100%;

						a{color: @base;}
					}

					ul li{
						display: inline-block;
					}
				}
			}
		}
		.down{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;

			a{
				display: inline-block;
				float: right;

				img{float: right;}
			}
		}

		.copy{
			position: absolute;
			bottom: 0;
			font-family: @content;
			font-size: @font15;
			color: @base;
			a{color: @base;}
			img{float: right;margin-left: 9px;}
		}
	}
}

// Registro

.wrapper-main-regalos{

	.recordarme {
		font-size: 10px;
		float: left;
		margin-left: 50px;
		margin-top: 6px;

		input{
			margin: 8px 10px;
		}
	}

	.user-details{
		td.key{

			width: 168px !important;#
		}
	}

	.accesar{
		float: right;
		width: 146px;
		margin-top: 10px;
	}

	.ui-accordion-header{
		width: auto;
		margin-left: 0;

		&:before{
			display: none;
		}
	}

	.ui-accordion{
		width: 60%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;

		h4{font-family: @courgette !important;}

		.username{display: inline-block;}

		.userfields_info{
			font-family: @courgette;
			font-size: @font16;
			color: @oscuro;
		}

		.ui-state-default{background: @naranja;
			&:hover{opacity: 0.8;}
			 
			a{
			 	color: @base;
			 	font-family: @courgette;
			 	font-size: @font20;
			}
		}
		.ui-button-text{
			color: @base;
			font-family: @courgette !important;
			font-size: @font14;
		}

		table.user-details{

			input{
				width: 250px;
				font-family: @courgette;
				color: @oscuro;
			}
		}

		#userForm{

			select{
				width: 94.3% !important;
				font-family: @courgette;
				color: @naranja;
				font-size: @font14;
			}
		}

		.adminForm{
			td.key{
				label{
					font-family: @courgette;
					color: @naranja
				}

				select{
					width: 80%;
					font-family: @courgette;
					color: @naranja;
					font-size: @font14;
				}
			}
		}

		.control-buttons{width: 470px;}

		.default_entrar{color: @base;font-family: @courgette; font-size: @font14;}
		td.key{
			padding: 0px 6px;
			display: inline-block;
			width: 168px;
			text-align: right;
			vertical-align: middle;
		}

		.chzn-container{width: 315px !important;}
	}

	.userdata{
		width: 485px;
		margin: 0 auto;

		input{
			font-family: @courgette;
			color: @oscuro;
		}
	}
}

//Contraseña

.reset{

	h3{
	margin: 0 auto;
	font-family: @courgette;
	font-size: @font28;
	color: @colorContent;
	padding: 10px 0;
	width: 75.5%;
	margin-top: 20px;
	margin-left: 20px;
	position: relative;
	text-transform: uppercase;
	display: inline-block;
	position: relative;

	&:before{
		position: absolute;
		content: "";
		background-color: @naranja;
		width: 10px;
		height: 10px;
		transform: rotate (45deg);
		top: 15px;
		left: -15px;
	}
}

	#user-registration{


		fieldset{
			margin: 10px 0 !important;
			text-align: center;
		}
		p{
			font-family: @content;
			font-size: @font14;
			text-align: justify;
		}
		div{
			text-align: center;
			padding: 0;
			margin: 0;
			padding-right: 0 !important;
			margin-top: 0 !important;
		}
		#jform_email{
			height: 20px;
			margin-top: 2px;
			font-family: @content;
			font-size: @font14;
		}
		.ui-state-default{
			 background: @naranja;
			 font-family: @courgette!important;

			&:hover{
				opacity: 0.8;
			}
			a{
			 	color: @base;
			 	font-family: @courgette;
			}
		}
		.ui-button-text{
			color: @base;
			font-family: @courgette !important;
			font-size: @font14;
		}
	}
}

// Fancybox

#fancybox-wrap{
	width: 420px !important;

	#fancybox-content{
		width: 400px !important;
		background-color: #F4F4F4;

		a{
			text-decoration: none;
			color: @naranja;
			font-family: @courgette;
			font-size: @font16 !important;
			padding: 10px 20px;
			display: inline-block;
		}

		h4{
			text-align: center;
			color: @oscuro;
			font-family: @content;
		}
		div{
			text-align: center;
			color: @oscuro;
			font-family: @content;
		}
	}
}

// Vista Del Carrito

.cart-view{
	margin-bottom: 20px;

	.width50{

		h3{
			margin: 0 auto;
			font-family: @courgette;
			font-size: @font28;
			color: @oscuro;
			padding: 10px 0 10px 30px;
			width: 75.5%;
			margin-top: 10px;
			position: relative;
			text-transform: uppercase;
			display: inline-block;

			&:before{
				content: "";
				position: absolute;
				left: 5px;
				top: 17px;
				background-color: @naranja;
				width: 8px;
				height: 8px;
				transform: rotate(45deg);
			}
		}

		.continue_link{
			display: none;
		}
	}

	fieldset{
		text-align: left;
		padding-left: 20px;
	}

	.buttonBar-right {
		text-align: right;
		width: 70%;
		float: right;
	}

	.customer-comment{
		width: 99%;
	}

	.checkout-button-top{
		padding-right: 0;
		.terms-of-service{
			a{
				display: none;
			}
		}
	}

	.billto-shipto{
		border-bottom: 0;

		.output-billto{
			font-family: @content;
		}

		.width50{

			.billto-span{
				margin: 0 auto;
				font-family: @courgette;
				font-size: @font28;
				color: @naranja;
				padding: 10px 0;
				width: 75.5%;
				margin-top: 10px;
				position: relative;
				text-transform: uppercase;
				display: inline-block;
			}
		}
	}

	.cart-summary{

		.quantity-input{
			color: @naranja !important;
		}

		.num{
			background-color: @naranja
		}

		.PricebillTotal{
			font-size: @font16;
		}

		tr{

			td{
				font-family: @content;
				padding: 10px 0;
				text-align: center;
				font-size: @font14;
				a{
					font-family: @content;
					text-decoration: none;
					font-size: @font14 !important;
					padding: 0 10px;
					display: inline-block;
				}
			}

			th{
				background-color: @naranja;
				font-family: @courgette;
				font-size: @font20;
				font-weight: lighter;
				color: @base;
				padding: 10px 0;
				text-align: center;
			}
		}
	}

	.ui-button{
		border-radius: 5px;
		text-decoration: none;
		color: @base;
		background-color: @naranja;
		border: 0 !important;	
		margin-top: 10px;
		font-size: @font14;

		&:hover{
			opacity: 0.8;
		}
	}

	.ui-state-default{
		font-family: @content;
		background: @naranja;
		color: @base !important;
		font-size: @font14;
	}
	.vm-button-correct{
		&:hover{
			font-family: @content;
			font-weight: lighter;
			font-size: @font14;
		}
	}
}

// Carrito Vacio

.war-carrito{
	font-family: @courgette;
	font-size: @font22;
	height: 500px;
	width: 1000px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

// Mensaje

#system-message-container{
	display: inline-block;
	width: 100%;

	.system-message{
		margin: 10px auto;
	}

	dt{
		font-family: @courgette;
		font-size: @font28;
		color: @oscuro;
		display: none;
	}

	dd{
		font-family: @courgette;
		color: @oscuro;
		font-size: @font22;
	}
}

// Mi Cuenta

.envio-registro{

	label{
		font-family: @courgette;
		color: @naranja;
		font-size: @font14;
	}

	margin: 20px auto !important;

	h2{
		font-family: @courgette;
		color: @oscuro;
		font-size: @font18;
	}


	table.user-details{

		td.key{
			width: 105px !important;
		}

		select{
			width: 86% !important;
			font-family: @courgette;
			color: @naranja;
			font-size: @font14;
		}
	}

	.control-buttons{
		width: 435px;
		button{
			background-image: none;
			background-color: @naranja;
			font-family: @courgette;

			&:hover{
				opacity: 0.6;
			}
			
			span{
				font-size: @font14;
				color: @base;
			}
		}
	}
}

// Verificar Cuenta{

.reset-confirm{
	p{
		font-family: @content;
		color: @colorContent;
		font-size: @font14;
		line-height: 20px;
	}

	fieldset{
		margin: 0 auto;
		margin-left: 0 !important;
	}	

	.form-validate{
		text-align: center;
		label{
			font-family: @courgette !important;
			font-size: @font14 !important;
			color: @naranja !important;
			margin: 0 !important;
			text-align: center;
		}

		#jform_username, #jform_token {
			height: 20px;
			margin: 5px 0;
			width: 300px !important;
		}

		div{
			text-align: center;
			padding-right: 0 !important;
			margin-top: 5px !important;

			button{
				margin: 10px 0 !important;
				font-size: @font14;
				font-family: @courgette;
				color: @base !important;			
				background-color: @naranja;
				border: 1px solid @base;
				box-shadow: 0 0 0px 5px @naranja;
				border-radius: 3px;	
				background-image: none;
				.transition (all 0.3s ease-in-out);
				text-align: center;

				span{
					display: inline-block;
					padding: 0 10px;
				}
			}

			&:hover{
				opacity: 0.6;
			}
		}
	}
}

