/**
* Estilos paara dispositivos móviles
*
*/

// Smartphones
@media only screen and (max-width: 480px) and ( min-width:0px ) {

	.section.page-one{

		header{

			.search{

				label{ margin-right: 5px; }
				#mod-search-searchword{
					width: 83%;
				}
			}

			#trigger{
				display: block;
			}

			.menu-up{
				display: none;

				ul.menu{
					width: 100%;
					background: @azulBuscar;
					border-radius: 0px 0px 9px 9px;
					margin-bottom: 6px;

					li{
						margin-left: 0 !important;
						display: block;
						width: 100%;
						position: inherit;
						text-align: center;
						padding: 4px 0;

						a{
							font-size: @font18;
						}
					}
				}
			}

			.moduletablelogo{ 
				float: none; 
				margin: 12px 0;
				text-align: center;

				img{ width: 100%; float: none !important; display: inline-block;}
			}

			.moduletablechat{
				text-align: center;
				margin: 13px 0;
				width: 100%;

				li{
					width: 41%;
					&:last-child{ margin-left: 0;}
				}
			}

			.moduletable.redes-up{
				margin: 3px 0;
				text-align: center;
				width: 100%;

				ul{
					text-align: center;
				}

				li{

					img{ margin-right: 0;}
				}
			}
		}

		nav{

			#trigger-2{
				display: block;
			}

			.menu-inicio #flyout_menu_92{ display: none; background: @azulBuscar;}
		}

		main{

			.slider-home{ 
				display: none;

				.nspArt{

					h4{
						font-size: @font30;
					}

					p{
						
					}
				}
			}
		}
	}

	.section.page-two{

		.moduletable.programas{

			ul { margin-bottom: 17px; }
		}

		.moduletable.item-menus{

			ul{ width: 82%; }
		}

		.pregrado-ciencias{

			.elastislide-carousel{

				li{
					width: 100% !important;
					height: auto !important;

					img{
						height: auto;
					}
				}
			}
		}
	}

	.section.page-three{

		.moduletable.noticias, .investigacion{

			h3{
				width: 100%;
				padding: 2% 0 2%;

				&:before{display: none;}
			}

			.nspMain{
				width: 100% !important;

				.nspArt{
					width: 100% !important;
					margin-bottom: 10px;

					h4{
						width: 90%;
						margin: 12px auto;
						float: none;
					}

					a{
						text-align: center;
						width: 100%;

						img{
							float: none;
							display: inline-block;
						}
					}

					p.nspText{
						width: 90%;
						margin: 12px auto;
						text-align: center;
					}

					a.readon{
						margin-top: 0;
					}
				}
			}
		}

		.content-acceso{ width: 96%; }
	}

	.section.page-four{

		.moduletable.eventos{

			table td{
				display: inline-block;
				margin-bottom: 15px;
			}
		}

		.moduletable.eventos h5{width: 67%;}

		.moduletable.eventos p{width: 67%;}

		.moduletable.eventos a{
			margin-top: 18px;
		}
	}

	.section.page-five{

		.col6 .moduletable{
			margin-bottom: 10px;

			h3{
				width: 94% !important;
			}
		}
	}

	.section.page-six{

		.menu-inferior{

			.elastislide-carousel{

				li{
					width: 100% !important;
				}
			}
		}
	}

	.section.page-seven{

		.col3{
			margin-bottom: 15px;
		}
	}

	.section.page-eight{
		
		&:before{display: none;}

		.moduletable.redes-down{
			text-align: center;
			margin: 15px 0;

			h3{
				float: none;
				margin: 0;
				margin-bottom: 10px;
			}
		}

		.me-gusta{

			iframe{
				margin: 12px 0;
			}
		}
	}
}
