 /**
* Estilos paara dispositivos móviles
*
*/

// Tablets
@media only screen and (max-width: 960px) and ( min-width:769px ) {

	.section.page-one{

		header{

			.search{
				#mod-search-searchword{
					width: 70%;
				}
			}

			#trigger{
				display: block;
			}

			.menu-up{
				display: none;

				ul.menu{
					width: 100%;
					background: @azulBuscar;
					border-radius: 0px 0px 9px 9px;
					margin-bottom: 6px;

					li{
						margin-left: 0 !important;
						display: block;
						width: 100%;
						position: inherit;
						text-align: center;
						padding: 4px 0;

						a{
							font-size: @font18;
						}
					}
				}
			}

			.moduletablechat{
				text-align: center;
				margin: 13px 0;

				li{
					width: 50%;

					&:last-child{ margin-left: 0;}
				}
			}

			.moduletable.redes-up{
				margin: 20px 0;

				ul{
					text-align: center;
				}

				li{

					img{ margin-right: 0;}
				}
			}
		}

		nav{

			#trigger-2{
				display: block;
			}

			.menu-inicio #flyout_menu_92{ display: none;}
		}

		main{

			.slider-home{ 
				width: 70%;

				.nspArt{

					h4{

					}

					p{
						
					}
				}
			}
		}
	}
	.section.page-three{

		.moduletable.noticias, .investigacion{

			h3{
				width: 100%;
				padding: 2% 0 2%;

				&:before{
					display: none;
				}
			}

			.nspMain{
				width: 100% !important;

				.nspArt{
					width: 100% !important;
					margin-bottom: 10px;

					h4{
						width: 50%;
					}

					p{
						width: 50%;
					}
				}
			}
		}
	}

	.section.page-four{

		.moduletable.eventos h5{
			width: 100%;
			text-align: center;
			margin: 0;
		}

		.moduletable.eventos h4{float: none;}

		.moduletable.eventos p{
			width: 90%;
			margin-top: 9px;

		}
	}

	.section.page-eight{

		.moduletable.redes-down{
			text-align: center;
			margin: 15px 0;

			h3{
				float: none;
				margin: 0;
				margin-bottom: 10px;
			}
		}

		.me-gusta{

			iframe{
				margin-top: 20px;
			}
		}
	}
}
