/**
*
* variables to use in less
*
*/

// Site Standard colors
@base: #FFFFFF;
@naranja: #FF6600;
@oscuro:#333333;
@gris:#666666;
@black: #000;
@colorContent: #8C8C8C;

// Font size
@font40: 4rem;
@font38: 3.8rem;
@font34: 3.4rem;
@font30: 3rem;
@font28: 2.8rem;
@font22: 2.2rem;
@font24: 2.4rem;
@font21: 2.1rem;
@font20: 2.0rem;
@font19: 1.9rem;
@font18: 1.8rem;
@font17: 1.7rem;
@font16: 1.6rem;
@font15: 1.5rem;
@font14: 1.4rem;
@font13: 1.3rem;



// Font Family
@content:'PT Sans';
@courgette: 'Courgette', cursive;


//nav
@hoverNav: #F7931E;
