/**
*
* Styles for informes
*
*/
.error { color:red; margin-left: 5px; }
ul.pdf-list li , ul.excel-list li  { display: inline-block; min-width: 300px; font-size: 14px; }
ul.pdf-list li i, span { display: inline-block; vertical-align: middle;}
ul.excel-list li i, span { display: inline-block; vertical-align: middle;}
ul.pdf-list li i, ul.excel-list li i.icon-excel  { 
	background-image: url('../images/excel-icon.png');
	background-repeat: no-repeat;
	width: 34px;
	height: 32px;
	margin-right: 10px;
}

ul.pdf-list li span.filename, ul.excel-list li span.filename { width: 80px;	text-align: center; } 

ul.pdf-list li i, ul.excel-list li i.icon-pdf  { 
	background-image: url('../images/pdf-icon.png');
	background-repeat: no-repeat;
	width: 34px;
	height: 32px;
	margin-right: 10px;
}

ul.pdf-list li .progress-bar, ul.excel-list li .progress-bar{

	width: 0;
	height: 13px;
	background-color: #004D79;
	margin-left: 10px;

	-webkit-transition( width, 400ms );
	-moz-transition( width, 400ms );
	transition( width, 400ms );
}

ul.pdf-list li .percentage{	margin-left: 10px; }
ul.excel-list li .percentage{	margin-left: 10px; }

ul.excel-parse-list li.progress, .truncate-label.progress {
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	background-color: #FFF;
	border: 1px solid #AFAFAF;
	font-size: 13px;
}

ul.excel-parse-list li.success, .truncate-label.success {
	color: #008000;
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	background-color: #CBF3DD;
	border: 1px solid #009E3F;
	font-size: 13px;
}

ul.excel-parse-list li.error, .truncate-label.error {
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #9E0000;
	color: #99000C;
	background-color: #F6DFE0;
	font-size: 13px;
}

.icon-48-logo{  background: url('../images/logo.png') 0 0 no-repeat; }

.import-label { display: inline-block; width: 100%; margin-top: 15px; }

#importar-datos {
	display: inline-block;
	padding: 8px 17px;
	margin-bottom: 6px;
	background-color: #000;
	color: #FFF;
}

#importar-datos:hover {
	background-color: #960000;
	text-decoration: none;
}

.pdf-upload-status {
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 15px 0;
	background-color: #FFF;
	border: 1px solid #ADADAD;
	font-size: 14px;
}

.pdf-upload-status.success { background-color: #D0EEDE; border: 1px solid #2B8D46; }
.pdf-upload-status.error { background-color: #EED0D0; border: 1px solid #AA2B2B; }
.pdf-upload-status.warning { background-color: #FFFBE0; border: 1px solid #E6B95C; }

.pdf-upload-status-list { display: none; }
.pdf-upload-status-list li { margin: 15px 0; padding: 0; }
.pdf-status-bar, .pdf-total-bar { position: relative; }
.pdf-status-bar .bar-inside, .pdf-total-bar .bar-inside {
	display: inline-block;
	width: 0%;
	height: 30px;
	background-color: #058DB8;
	color: #FFF;
	text-align: center;
}

.bar-inside.success { background-color: #11A056; color: #FFF; }

.pdf-status-bar .bar-message, .pdf-total-bar .bar-message {
	position: absolute;
	top: 6px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	text-align: center;
	color: #0D495C;
}

.pdf-total-title {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.pdf-error-list { display:none; color: #F00; }

.excel-reporte {
	display: none;
	background-color: #FFFAE7;
	padding: 12px;
	font-size: 14px;
}

.excel-reporte ul { color: green; } 

.excel-log {
	background: #FFF;
	padding: 14px;
	font-size: 14px;
}

.pdf-log {
	display: none;
	padding: 13px;
	background-color: #FFF;
	font-size: 12px;
}

.pdf-log span {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

span.color{
	display: inline-block;
	width: 100px;
	height: 13px;
}

#map_canvas{
	height: 300px;
}
#zone-map-canvas, #zone-map-canvas-edit{
	height: 300px;
	width: 700px;
	display: inline-block;
}

.form-zona label{
	width: 120px;
}

#zona-form ul{
	width: 100%;
	display: inline-block;
}

.add-vertice{
	width: 717px;
	display: inline-block;;
}

.add-vertice ul{
	float: right;
	width: 13% !important; 
	margin-top: 15px;
}

.add-vertice ul a, .form-zona .add-zone{
	text-decoration: none;
	background-color: #146295;
	color: #FFF;
	max-width: 120px;
	padding: 7px;
}

.add-vertice ul a:hover, .form-zona .add-zone:hover{ opacity: 0.6; }

.vertices{
	display: inline-block;
	width: 100%;
}

.vertices ul{
	width: 50% !important;
}

.vertices ul li{
	float: left;
	width: 74%;
}

.vertices ul li input[type="text"]{
	width: 380px;
	height: 20px;
}

.vertices ul li img{
	width: 18px;
}

.global-notification {

	display: none;
	position: fixed;
	padding: 10px;
	width: 400px;
	top: 200px;
	left: 50%;
	margin-left: -200px;
	border: 1px solid #7A7260;
	background-color: #006C91;
	box-shadow: 0px 0px 6px #CCC;
	color: #FFF ;
	font-size: 17px;
	letter-spacing: 1px;
	text-align: center;
	z-index: 99999999;
}

.add-zone-wrapper{
	width: 413px;
	float: left;
	text-align: right;
}